server:
  port: 8082

spring:
  application:
    name: order-api
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/spike-order
          jwk-set-uri: http://localhost:8080/realms/spike-order/protocol/openid-connect/certs

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
